:host {
  display: block;
}

.landing-music {
  &__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1100px) {
  .landing-music__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 760px) {
  .landing-music {
    &__heading {
      align-items: start;
      flex-direction: column;
    }

    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
